<body>
  <main>
    <h1>Get a daily report of your Shopify Orders directly on Slack</h1>
    <div class="section">
      <div class="section-summary">
        <h1>Slack Report - Installation</h1>
        <p>Daily report on Slack</p>
      </div>
      <div class="section-content">
        <div class="section-row">
          <div class="section-cell">
            <h2>Please enter the “myshopify” domain of your store</h2>
            <form method="GET" action="login">
              <input type="text" name="shop" id="shop" placeholder="blabla.myshopify.com"/>
              <button type="submit" class="btn primary">Install Slack Report</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
