<body>
  <main>
    <div class="wrapper">
      <div class="title-section">
        <%= image_tag 'slack-shopify-logo.png' %>
        <h1>Get a daily report of your <span class="green">Shopify</span> orders directly on <span class="purple">Slack</span></h1>
      </div>
      <div class="sign-up-section">
        <h2>Please enter the “myshopify” domain of your store</h2>
        <form method="GET" action="login">
          <input type="text" name="shop" id="shop" placeholder="blabla.myshopify.com"/>
          <button type="submit" class="btn primary">Install App</button>
        </form>
      </div>
    </div>
  </main>
</body>
