<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Configuration",
        icon: "<%= asset_path('slack-shopify-logo.png') %>"
      });
    });
  </script>
<% end %>

<div class="section">
  <div class="section-summary">
    <h1>Configuration</h1>
    <p>Slack Webhook URL</p>
  </div>
  <div class="section-content">
    <div class="section-row">
      <div class="section-cell">
        <h1>Edit your Webhook URL</h1>
        <%= simple_form_for @shop do |f| %>
          <%= f.input :slack_webhook_url, label: false, :input_html => { :class => "full-width" } %>
          <%= f.button :submit, 'Update URL', class: 'btn primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>