<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Configuration",
        icon: "<%= asset_path('slack-shopify-logo.png') %>"
      });
    });
  </script>
<% end %>

<div class="section">
  <div class="section-summary">
    <h1>Configuration</h1>
    <p>Slack integration</p>
  </div>
  <div class="section-content">
    <div class="section-row">
      <div class="section-cell">
        <h1>Add Shopify Report to Slack</h1>
        <% if @shop.access_token.empty? %>
          <a href="https://slack.com/oauth/authorize?scope=chat:write:bot&client_id=59953116069.130894548453" target="_blank"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
        <% else %>
          <p>Your Slack account is connected.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-summary">
    <h1>Parameters</h1>
    <p>Customize your integration</p>
  </div>
  <div class="section-content">
    <div class="section-row">
      <div class="section-cell">
        <h1>Channel</h1>
        <p>
        <div class="channel">
          <% if @shop.channel.empty? %>
            Please edit your shop to provide a channel to send report to.
          <% else %>
            #<%= @shop.channel %>
          <% end %>
          </div>
        </p>
        <%= link_to "Edit Shop", edit_shop_path(@shop), class: 'btn primary' %>
      </div>
    </div>
  </div>
</div>
