<div class="flash_message">
  <% if notice %>
    <div class="box notice"><i class="ico-notice"></i><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="box notice"><i class="ico-warning"></i><%= alert %></div>
  <% end %>
</div>