<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %>
    </li>
  <% end %>
</ul>

<%= link_to "Shop show", shop_path(@shop) %>
